APScheduler==3.6.3
beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
idna==2.8
python-http-client==3.2.1
pytz==2019.3
requests==2.22.0
sendgrid==6.1.0
six==1.13.0
soupsieve==1.9.5
tzlocal==2.0.0
urllib3==1.25.7
